%div.leading-loose.m-auto.p-6{ class: "max-w-[600px]"}
  %h2.text-center.font-semibold.mt-8 Link Iron Council Account

  %p.m-4
    As an Iron Council member, you will have free access to the Battle Planner app once you 
    link your account. This will walk you through how to get that done. Be sure to follow 
    these top to bottom, and finish your battle plan first!

  .card.text-red-700
    %h2.text-center.font-semibold.mt-8 Finalize Battle Plan First!
    %p.m-4
      You need to finalize your battle plan prior to linking your 
      acccount to your Mighty Networks login. 

  %p.m-4
    If you used the same email account for the 12-Week Battle Planner App as you used for 
    Mighty Networks, your account will automatically link and you will not need to follow 
    these steps.

  %h2.text-center.font-semibold.mt-8 Link App to Mighty Networks
  %p.m-4
    First, you will need to find your email that you used for Mighty Networks. Tap on the 
    menu in the top left of the screen, then go to “Personal Settings”

  .m-6= image_tag "iron_council/1_iron_council.png"

  %p.m-4
    On the personal settings screen, tap the > by account to expand your account.

  .m-6= image_tag "iron_council/2_iron_council.png"

  %p.m-4
    This will show your email address that is used in Mighty Networks.

  .m-6= image_tag "iron_council/3_iron_council.png"

  %p.m-4
    You will be able to access this screen after you setup your battle plan.

  %p.m-4
    Now, open the Battle Planner app, and tap on the top right menu, and tap on Add Iron Council.

  .m-6= image_tag "iron_council/4_iron_council.png"

  %p.m-4
    Great, now you’ll see a screen that allows you to type your Mighty Networks email.

  .m-6= image_tag "iron_council/5_iron_council.png"