%h1 Team Report for #{@team.name}
%h2 #{@date.beginning_of_week} - #{@date.end_of_week}
= simple_form_for(@team, url: [@team, :report], method: :patch) do |f|
  = f.submit

%table
  %thead
    %tr
      %th
      - ["CALIBRATION", "CONNECTION", "CONDITION", "CONTRIBUTION"].each do |quadrant|
        %td{colspan: 2}= quadrant.downcase.titleize
  - @team.users.order(name: :asc).each do |user|

    %tr
      %td= user.name
      - ["CALIBRATION", "CONNECTION", "CONDITION", "CONTRIBUTION"].each do |quadrant|
        %td
          - (@date.beginning_of_week..@date.end_of_week).each do |date|
            %span{style: "width: 1em; display: inline-block;"}
              - if user.battle_plans.current(@date).success?(date: date, quadrant: quadrant)
                %span.fas.fa-circle.success
              - else
                %span.far.fa-circle.fail
        %td{style: "width: 3em"}
          = user.battle_plans.current(@date).percentage_for_week(date: @date, quadrant: quadrant)
