%h1.font-semibold.text-2xl.text-center
  Team Report for #{@team.name}

%div.text-center
  = simple_form_for(@team, url: [@team, :report, { date: params[:date], token: params[:token]}], method: :patch) do |f|
    = f.button :button, form: { class: "inline" } do
      = heroicon("arrow-path", variant: :mini, class: "inline")

%h2.text-center.mt-2
  = link_to [@team, :report, { date: (@date.beginning_of_week - 7.days), token: params[:token]}] do
    = heroicon("chevron-left", variant: :mini, class: "inline")
  %span #{@date.beginning_of_week.to_fs} - #{@date.end_of_week.to_fs}
  - unless @date.end_of_week.future?
    = link_to [@team, :report, { date: (@date.beginning_of_week + 7.days), token: params[:token]}] do
      = heroicon("chevron-right", variant: :mini, class: "inline")

%table#sortable-table.mt-4.mx-auto{ class: "w-full lg:w-[900px]" }
  %thead
    %tr.font-thin.text-center
      %th.font-thin.text-center
      - ["CALIBRATION", "CONNECTION", "CONDITION", "CONTRIBUTION"].each do |quadrant|
        %th.font-thin.text-center.quadrant-title{colspan: 2, class: quadrant.downcase}= quadrant.downcase.titleize
      %th.font-thin.text-center Total
  - @team.users.order(name: :asc).each do |user|

    %tr
      %td.name
        - if user.battle_plans.current(@date).present?
          %span
            = link_to user.battle_plans.current(@date).plan_url, target: :_blank do
              = heroicon("document", variant: :micro, class: "inline")

        = user.name
      - ["CALIBRATION", "CONNECTION", "CONDITION", "CONTRIBUTION"].each do |quadrant|
        %td
          .d-none.d-md-block
            - (@date.beginning_of_week..@date.end_of_week).each do |date|
              %span
                - if user.battle_plans.current(@date).nil? || date.future?
                  %span.future.rectangle
                - elsif user.battle_plans.current(@date).success?(date: date, quadrant: quadrant)
                  %span.success.rectangle
                - else
                  %span.fail.rectangle
        %td.percentage.font-thin.text-center
          - if user.battle_plans.current(@date).present?
            %span{ class: user.battle_plans.current(@date).percentage_for_week(date: @date, quadrant: quadrant) < 80 ? "needs-attention" : "safe"}
              = user.battle_plans.current(@date).percentage_for_week(date: @date, quadrant: quadrant)
          - else
            = "-"
      %td.percentage.font-thin.text-center
        - if user.battle_plans.current(@date).present?
          %span{ class: user.battle_plans.current(@date).percentage_for_week(date: @date) < 80 ? "needs-attention" : "safe"}
            = user.battle_plans.current(@date).percentage_for_week(date: @date)
        - else
          = "-"

.text-center.mt-10.text-xs
  = link_to [:podio_battle_teams] do
    %span.chevron.fas.fa-chevron-left
    All Battle Teams
