!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Battle Planner
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_importmap_tags
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
  %body.dark:bg-gray-900.dark:text-gray-100
    .w-fill
      = render "layouts/flash"
      = render "layouts/header"
      = yield
